@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700");
@import url("https://cdn.jsdelivr.net/npm/asciidoctor-stylesheets/css/asciidoctor.min.css");

.admonitionblock {
    border: 1px grey solid;
}

.admonitionblock.note {
    background-color: aliceblue;
}

